/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-bg-grey: #f5f5fc;
  --color-dark-white: #bdbdbd;
  --color-light-pink: #fbb2bb;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-light-peach: #ff867f;
  --color-peach: #ff5252;
  --color-dark-peach: #c50e29;
  --color-dark-grey: #010101;
  --color-deep-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #82afe1;
  --color-blue: #3a62cc;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 0.3s;
  --animation-duration-long: 0.5s;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-grey);
  color: var(--color-dark-white);
  padding: 10px 32px;
  z-index: 100;
  transition: all var(--animation-duration-long) ease-in-out;
}

#navbar.navbar--trans {
  background-color: transparent;
  color: var(--color-deep-grey);
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

#navbar.navbar--trans .navbar__logo {
  color: var(--color-dark-grey);
}

.navbar__logo a {
  margin-left: 10px;
  font-size: 22px;
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

#navbar.navbar--trans .navbar__logo a {
  color: var(--color-dark-grey);
}

.navbar__menu {
  display: flex;
  margin: 5px 0;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

#navbar.navbar--trans .navbar__menu__item {
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.navbar__menu__item.active {
  /* border: 1px solid var(--color-white); */
  /* border-radius: var(--size-border-radius); */
  color: var(--color-white);
}

.navbar__menu__item:hover {
  color: var(--color-light-white);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 180px 40px 40px 10%;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  background-color: var(--color-peach);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* Section common */
.section {
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  margin-bottom: 20px;
}

.major__icon i {
  font-size: var(--font-large);
  color: var(--color-blue);
  transition: all var(--animation-duration) ease-in-out;
}

.major:hover i {
  color: var(--color-light-blue);
  transform: scale(1.1);
}

.major__title {
  font-size: var(--font-regular);
}

.major__description {
  font-size: var(--font-small);
  color: var(--color-light-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 70px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-bg-grey);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-deep-grey);
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 32px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 3px;
  background-color: var(--color-peach);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
  text-align: center;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-peach);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background-color: var(--color-bg-grey);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-bg-grey);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
}

.testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--color-light-white);
}

.testimonial:nth-child(odd) .testimonial__avatar {
  margin-right: 40px;
}

.testimonial:nth-child(even) .testimonial__avatar {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

.testimonial__speech-bubble a {
  color: var(--color-blue);
}

/* Contact */
#contact {
  background-color: var(--color-dark-grey);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 32px;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
}

/* Scroll */
.arrow-up {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  background-color: var(--color-light-peach);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: start;
  }

  #navbar > div {
    width: 100%;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
